@import '../../scss/vars.scss';

.Heading {
  margin: 40px 0;
  text-align: center;
}

.Subheading {
  margin: 40px 0 20px;
  text-align: center;
}

.Balance {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;

  span {
    font-family: $font--sourcecode;
  }
}

.ButtonGroup {
  text-align: center;
  button + button {
    margin-left: 10px;
  }
}

.SuccessPrompt {
  margin-top: 20px;
  text-align: center;
}
